In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
crop_data=pd.read_csv("yeildPredictionDS1.csv")
crop_data

       Crop_Year       Season       Crop    Area  Production
0           1997  Kharif       Arhar/Tur   17600      6300.0
1           1997  Kharif           Bajra  274100    152800.0
2           1997  Kharif            Gram   40800     18600.0
3           1997  Kharif           Jowar     900      1100.0
4           1997  Kharif           Maize    4400      4700.0
...          ...          ...        ...     ...         ...
12622       2014  Rabi             Jowar    4000      3300.0
12623       2014  Rabi             Maize    1300       200.0
12624       2014  Rabi             Wheat   29100     26800.0
12625       2014  Summer       Groundnut    9400     11500.0
12626       2014  Whole Year   Sugarcane    8100    553700.0

[12627 rows x 5 columns]

In [3]:
crop_data['Yield'] = (crop_data['Production'] / crop_data['Area'])
crop_data.head(10)

   Crop_Year       Season               Crop    Area  Production     Yield
0       1997  Kharif               Arhar/Tur   17600      6300.0  0.357955
1       1997  Kharif                   Bajra  274100    152800.0  0.557461
2       1997  Kharif                    Gram   40800     18600.0  0.455882
3       1997  Kharif                   Jowar     900      1100.0  1.222222
4       1997  Kharif                   Maize    4400      4700.0  1.068182
5       1997  Kharif       Moong(Green Gram)   10200       900.0  0.088235
6       1997  Kharif            Pulses total     451       130.0  0.288248
7       1997  Kharif                    Ragi    2600      2100.0  0.807692
8       1997  Kharif                    Rice    5900      7200.0  1.220339
9       1997  Kharif               Sugarcane   45900     38940.0  0.848366

In [4]:

crop_data.shape

(12627, 6)

In [5]:
crop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12627 entries, 0 to 12626
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Crop_Year   12627 non-null  int64
 1   Season      12627 non-null  object
 2   Crop        12627 non-null  object
 3   Area        12627 non-null  int64
 4   Production  12495 non-null  float64
 5   Yield       12495 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 592.0+ KB

In [6]:

crop_data.isnull().sum()

Crop_Year       0
Season          0
Crop            0
Area            0
Production    132
Yield         132
dtype: int64

In [7]:
crop_data=crop_data.dropna()

In [8]:
crop_data.isnull().sum()

Crop_Year     0
Season        0
Crop          0
Area          0
Production    0
Yield         0
dtype: int64

In [9]:
crop_data.duplicated().sum()

1155

In [10]:
crop_data.drop_duplicates(inplace=True)

C:\Users\riddh\AppData\Local\Temp\ipykernel_574892\1643394439.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crop_data.drop_duplicates(inplace=True)

In [11]:
crop_data.duplicated().sum()

0

In [12]:
col = ['Crop_Year','Area','Production','Season','Crop','Yield']
crop_data = crop_data[col]
X = crop_data.drop(columns=['Yield'])  # Features
y = crop_data['Yield']

In [13]:
crop_data

       Crop_Year    Area  Production       Season       Crop      Yield
0           1997   17600      6300.0  Kharif       Arhar/Tur   0.357955
1           1997  274100    152800.0  Kharif           Bajra   0.557461
2           1997   40800     18600.0  Kharif            Gram   0.455882
3           1997     900      1100.0  Kharif           Jowar   1.222222
4           1997    4400      4700.0  Kharif           Maize   1.068182
...          ...     ...         ...          ...        ...        ...
12622       2014    4000      3300.0  Rabi             Jowar   0.825000
12623       2014    1300       200.0  Rabi             Maize   0.153846
12624       2014   29100     26800.0  Rabi             Wheat   0.920962
12625       2014    9400     11500.0  Summer       Groundnut   1.223404
12626       2014    8100    553700.0  Whole Year   Sugarcane  68.358025

[11340 rows x 6 columns]

NameError: name 'OneHotEncoder' is not defined

In [15]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ohe = OneHotEncoder( handle_unknown='ignore')
scale = StandardScaler()

preprocesser = ColumnTransformer(
        transformers = [
            ('StandardScale', scale, [0, 1, 2]),
            ('OHE', ohe, [3,4]),
        ],
        remainder='passthrough'
)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
X_train_dummy = preprocesser.fit_transform(X_train)
X_test_dummy = preprocesser.transform(X_test)

In [18]:
preprocesser.get_feature_names_out(col[:-1])

array(['StandardScale__Crop_Year', 'StandardScale__Area',
       'StandardScale__Production', 'OHE__Season_Autumn     ',
       'OHE__Season_Kharif     ', 'OHE__Season_Rabi       ',
       'OHE__Season_Summer     ', 'OHE__Season_Whole Year ',
       'OHE__Crop_Arhar/Tur', 'OHE__Crop_Bajra', 'OHE__Crop_Banana',
       'OHE__Crop_Castor seed', 'OHE__Crop_Cotton(lint)',
       'OHE__Crop_Gram', 'OHE__Crop_Grapes', 'OHE__Crop_Groundnut',
       'OHE__Crop_Jowar', 'OHE__Crop_Linseed', 'OHE__Crop_Maize',
       'OHE__Crop_Mango', 'OHE__Crop_Moong(Green Gram)',
       'OHE__Crop_Niger seed', 'OHE__Crop_Onion',
       'OHE__Crop_Other  Rabi pulses',
       'OHE__Crop_Other Cereals & Millets',
       'OHE__Crop_Other Kharif pulses', 'OHE__Crop_Pulses total',
       'OHE__Crop_Ragi', 'OHE__Crop_Rapeseed &Mustard', 'OHE__Crop_Rice',
       'OHE__Crop_Safflower', 'OHE__Crop_Sesamum',
       'OHE__Crop_Small millets', 'OHE__Crop_Soyabean',
       'OHE__Crop_Sugarcane', 'OHE__Crop_Sunflower', 'OHE__Crop_Tobacco',
       'OHE__Crop_Tomato', 'OHE__Crop_Total foodgrain', 'OHE__Crop_Urad',
       'OHE__Crop_Wheat', 'OHE__Crop_other oilseeds'], dtype=object)

In [19]:
#linear regression
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error,r2_score


models = {
    'lr':LinearRegression(),
    'lss':Lasso(),
    'Rid':Ridge(),
    'Dtr':DecisionTreeRegressor()
}
for name, md in models.items():
    md.fit(X_train_dummy,y_train)
    y_pred = md.predict(X_test_dummy)
    
    print(f"{name} : mae : {mean_absolute_error(y_test,y_pred)} score : {r2_score(y_test,y_pred)}")

lr : mae : 1.5142795226698103 score : 0.8411338269766947
lss : mae : 3.8014474586248377 score : 0.3564602673575564
Rid : mae : 1.566199487192299 score : 0.8964362117147998
Dtr : mae : 0.8113467801137747 score : 0.7800503395399507

In [20]:
dtr = DecisionTreeRegressor()
dtr.fit(X_train_dummy,y_train)
dtr.predict(X_test_dummy)

array([2.10066372, 1.34920635, 0.96666667, ..., 0.69565217, 0.25      ,
       0.33258499])

In [21]:
def prediction(Crop_Year, Area, Production, Season, Crop):
    # Create an array of the input features
    features = np.array([[Crop_Year, Area, Production, Season, Crop]], dtype=object)

    # Transform the features using the preprocessor
    try:
        transformed_features = preprocesser.transform(features)
    except ValueError as e:
        print("Error during transformation:", e)
        return None

   
    # Make the prediction
    predicted_yield = dtr.predict(transformed_features).reshape(1, -1)

    return predicted_yield[0]

In [22]:

# Example usage
Crop_Year = 2023
Area = 5000000
Production = 100000
Season = 'Summer'
Crop = 'Jowar'

predicted_yield = prediction(Crop_Year, Area, Production, Season, Crop)
if predicted_yield is not None:
    print("Predicted yield:", predicted_yield*1000)

Predicted yield: [283.47906121]

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [23]:
import pickle
pickle.dump(dtr,open('dtr.pkl','wb'))
pickle.dump(preprocesser,open('preprocessor.pkl','wb'))

In [28]:
import sklearn
print(sklearn.__version__)

ModuleNotFoundError: No module named 'pycharm'

In [26]:
crop_data['Season'].value_counts()

Season
Kharif         6657
Rabi           3338
Summer          829
Whole Year      510
Autumn            6
Name: count, dtype: int64